<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<a href="/"><button class="btn btn-large btn-default">Back</button></a>
			<br/><br/>
			<form role="form" method="post" action="/events/{$ID_EVENT}">
				<div class="form-group">
					<label for="inpId">ID</label>
					<input class="form-control" name="inpId" type="text" value="{$ID_EVENT}" readonly="true" required="true" />
				</div>
				<div class="form-group">
					<label for="inpDescription">Description</label>
					<input class="form-control" name="inpDescription" type="text" value="{$DESCRIPTION}" required="true"/>
				</div>
				<div class="form-group">
					<label for="inpDate">Date</label>
					<input class="form-control" name="inpDate" type="date" value={$DT_EVENT} required="true"/>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" name="inpActive" {if="$ACTIVE == 1"}checked="true"{/if}/> Active</label>
				</div>
				<br/>
				<button type="submit" class="btn btn-primary">Alter</button>
			</form>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>